{% extends viewbaseLayout %}
{% block content %}
    {% if series %}
        {% for seriesItem in series %}
            {{ dump(content) }}
        {% endfor %}
    {% endif %}
    <article class="summary series_list">
        <h2><a href="{{ path( location ) }}">{{ location.contentInfo.name }}</a></h2>
        <div class="comment-count"><script>
            var idcomments_acct = '25e2ad6aee59fd3fa19e5697aedaa86c';
            var idcomments_post_id = "{{ content.id }}";
            var idcomments_post_url = "http://partialcontent.com{{ path(location) }}";
        </script>
            <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script></div>
            <p></p>
        {# If the summary is empty, render the body #}
        {# This is likely not best practice since it's language-specific #}

        {% if content.fields.summary['eng-US'].xml|xmltext_to_html5 %}
            {{ ez_render_field( content, "summary" ) }}
        {% else %}
            {{ attribute(content.fields.body, 'eng-US')|striptags[:500] }}...
            {#{ ez_render_field( content, "body" ) }#}
        {% endif %}
        <div id="idc-container-parent" class="button orange">
            <div class="idc-c-b">
                <div class="idc-right" id="IDNewThreadSubmitLI">
                    <a class="idc-btn_l" href="{{ path( location ) }}">
                        <span class="idc-r">Read More</span>
                    </a>
                </div>
            </div>
        </div>



    </article>
{% endblock %}
