
{% set post_count = 0 %}
{% set feature_count = 0 %}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner" >
        {% for post in posts %}
            {% if post.fields.feature['eng-US'] == '1' %}
                
                {% set img = post.fields.feature_image['eng-US'] %}
          
                {% if (feature_count == 0) and (img) %}
                <div class="item with-image active" style="{{ attribute(post.fields, 'feature_style')['eng-US'] }};">
                {% elseif (feature_count == 0) %}
                <div class="item active" style="{{ attribute(post.fields, 'feature_style')['eng-US'] }};">
                {% elseif (img) %}
                <div class="item with-image" style="{{ attribute(post.fields, 'feature_style')['eng-US'] }};">
                {% else %}
                <div class="item" style="{{ attribute(post.fields, 'feature_style')['eng-US'] }};">
                {% endif %}
                    <div class="item-content">
                        <article class="summary blog_post">
                            {% if post.fields.feature_title['eng-US'] %}
                                {% set title = post.fields.feature_title['eng-US'] %}
                            {% else %}
                                {% set title = post.fields.title['eng-US'] %}
                            {% endif %}
                            <h2>{{ title }}</h2>
                            <div class="ezxmltext-field">
                                {% if post.fields.summary['eng-US'].xml.textContent %}
                                    {{ ez_render_field( post, "summary" ) }}
                                {% else %}
                                    <div class="ezxmltext-field"><p>
                                        {{ attribute(post.fields.body, 'eng-US')|striptags[:300] }}...
                                    </p></div>
                                {% endif %}
                            </div>
                            <div id="idc-container-parent" class="buttom white">
                                <div class="idc-c-b">
                                    <div class="idc-right" id="IDNewThreadSubmitLI">
                                        <a class="idc-btn_l" href="{{ path(location[post_count]) }}">
                                            <span class="idc-r">Read More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        
                    {% if post.fields.feature_image['eng-US'] %}
                        {{ ez_render_field( post, "feature_image" ) }}
                    {% endif %}
                    </div>
                </div>
                {% set feature_count = feature_count + 1 %}
            {% endif %}
            {% set post_count = post_count + 1 %}
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    

</div>



