{% extends noLayout ? viewbaseLayout : "BlendPartialContentBundle::pagelayout.html.twig" %}
{% block content %}
    <article class="body" about="{{ path(location) }}">
        <h1 class="page-title" property="title">{{ location.contentInfo.name }}</h1>
        <div property="body">
            {{ ez_render_field( content, "body" ) }}
        </div>
    </article>
    <div class="comments">
        <script>
            var idcomments_acct = '25e2ad6aee59fd3fa19e5697aedaa86c';
            var idcomments_post_id = {{ content.id }};
            var idcomments_post_url = "http://partialcontent.com{{ path(location) }}";
        </script>
        <span id="IDCommentsPostTitle" style="display:none"></span>
        <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    </div>

{% endblock %}

{% block sidebar %}
    {% if series %}
    {% for seriesItem in series %}
        <div class="series well">
            <ul class="nav nav-list">
                <li class="nav-header">{{ seriesItem.name }}</li>
                <li class="divider"></li>
                {{ render(
                    controller(
                        'pcblog:postsInSeries', {
                            seriesId: seriesItem.id,
                            contentId: content.id
                        }
                    )
                   )
                }}
            </ul>
        </div>
    {% endfor %}
    {% else %}
        <style type="text/css">
            .sidebar { width: 0px; }
            .main { margin-left: 120px; }
        </style>
    {% endif %}

    {{ parent() }}

{% endblock %}
