{% extends noLayout ? viewbaseLayout : "BlendPartialContentBundle::pagelayout.html.twig" %}
{% block content %}
    <article class="body" about="{{ path(location) }}">
        <h1 class="page-title" property="title">{{ location.contentInfo.name }}</h1>
        <div property="body">
            {{ ez_render_field( content, "body" ) }}
        </div>
    </article>
{% endblock %}

{% block sidebar %}
    {% if series %}
    {% for seriesItem in series %}
        <div class="series well">
            <ul class="nav nav-list">
                <li class="nav-header">{{ seriesItem.name }}</li>
                <li class="divider"></li>
                {{ render(
                controller(
                'pcblog:postsInSeries',
                {
                seriesId: seriesItem.id,
                contentId: content.id
                }
                )
                )
                }}
            </ul>
        </div>
    {% endfor %}
    {% endif %}

    {{ parent() }}

{% endblock %}
